.App {
  text-align: center;
  border: 2px pink solid;
}

.homepage {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 10fr;
}

.App__title {
  border: 2px green solid;
}
