.App {
  text-align: center;
  border: 2px pink solid;
}

.homepage {
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.App__title {
  border: 2px green solid;
}

.App__ArticleList {
  border: 2px tomato solid;
  margin: 0px;
  grid-column: 1;
  grid-row: 1;
}

.App__ListOfTopics {
  border: 2px purple solid;
  margin: 0px;
  grid-column: 2;
  grid-row: 1;
}

.ArticleList__ul {
  padding: 0px;
}

.ArticleSummary__li {
  border: 2px black solid;
}

.ArticleSummary__author {
}
