.homepage {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 10fr;
}

.nyan {
  height: 40px;
}

@media only screen and (min-width: 768px) {
  .homepage {
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
  }

  .nyan {
    height: 40px;
  }
}
