.App__ArticleList {
  border: 2px tomato solid;
  margin: 0px;
  grid-column: 1;
  grid-row: 2;
}

.ArticleList__header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header__title {
  grid-column: 1;
  align-self: center;
}

.header__dropdownlist {
  grid-column: 2;
  align-self: center;
}

.ArticleList__ul {
  padding: 0px;
}

.ArticleSummary__li {
  border: 2px black solid;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 60px 1fr 2fr 1fr;
  height: fit-content;
}

.ArticleSummary__author {
  grid-column: 1 / 3;
  grid-row: 1;
  text-align: left;
  margin: 5px;
}

.ArticleSumary__title {
  grid-column: 1;
  grid-row: 2;
  text-align: left;
  margin: 5px;
}

.ArticleSummary__preview {
  grid-column: 1;
  grid-row: 3;
  text-align: left;
  margin: 5px;
}

.ArticleSummary__linkToArticle {
  grid-column: 1;
  grid-row: 4;
  text-align: left;
  margin: 5px;
  font-size: 15px;
}

.ArticleSummary__comment_count {
  grid-column: 2;
  grid-row: 4;
  text-align: right;
  margin: 5px;
  font-size: 15px;
}
