.SingleArticle__CommentsSection {
  border: 2px blue solid;
  padding: 20px;
}

.SingleArticle__comment {
  border: 2px blue solid;
}

.SingleComment__commentList {
  border: 2px lightgreen solid;
  padding-left: 10px;
  padding-right: 10px;
}

.FullArticle__votesCounter {
  border: 2px solid red;
  padding: 20px;
}

.FullArticle__Thumb {
  height: 20px;
}

.FullArticle__voteButton {
  background-color: white;
}

.FullArticle__voteButton[disabled] {
  background-color: lightgreen;
}

.FullArticle__mainArticle {
  border: 2px solid black;
  padding: 40px;
}

.PostCommentToArticle__submitInput {
  border: 2px solid yellow;
  word-break: normal;
  height: 200px;
  width: 75%;
}

.PostCommentToArticle__submitForm {
  border: 2px solid brown;
  padding: 20px;
}

.PostCommentToArticle__postButton {
}
